body 
{
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-weight: 100;
	font-style: normal;
	font-variant: normal;

	background-color:#caccce;
}

ul 
{
	display:none;
}

ul.open 
{
	display:block;
}

li.open ul 
{
	display:block;
}

li 
{
	background-color: #fff;
}



a.disabled 
{
	pointer-events: none;
}


span.link-btn.disabled
{
	pointer-events: none;
	cursor:auto;
	color:#351d4a;
	font-style: initial;
}

span.link-btn
{
	color:#216fed;
	cursor:pointer;
	padding-right: 10px;
	font-style: italic;
    font-weight: 400;
    font-size: 0.7em;
}