body 
{
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-weight: 100;
	font-style: normal;
	font-variant: normal;

	background-color:#caccce;
}

.tree
{
	max-width: 70%;
	margin: 0 auto;
}

ul 
{
	list-style: none;
}


ul.open 
{
	display:block;
}

li > ul
{
	display:none;
}

li.open > ul
{
	display:block;
}

li > p
{
	background-color: #fff;
	padding: 8px;
}

li > span:first-of-type
{
	margin-left: 20px;
}


a.disabled 
{
	pointer-events: none;
}


span.link-btn.disabled
{
	pointer-events: none;
	cursor:auto;
	color:#351d4a;
	font-style: initial;
}

span.link-btn
{
	color:#216fed;
	cursor:pointer;
	padding-right: 10px;
	font-style: italic;
    font-weight: 400;
    font-size: 0.7em;
}


div > textarea
{
    margin: 0px;
    height: 200px;
    width: 800px;
}

li > div
{
	margin-left: 20px;
}